{% extends 'blog/base.html' %}

{% block content %}
    <div class="row">
        {% for post in posts %}
                <div class="col-sm-6">
                <div class="card" style="height: 650px;">
                    {% if post.thumbnail_image %}
                    <img class="card-img-top" style="height: 350px; object-fit: cover;" src="{{ post.thumbnail_image.url }}" alt="Thumbnail Image">
                    {% endif %} 
                    {% if post.published_date %}    
                    <time class="date"> 
                        <p style="font-weight: bold">{{ post.published_date }}</p>
                    </time></a>
                    {% endif %} 
                    <h2 class="card-title" ><a class=" text-dark" href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                    <li><a href="{% url 'blog:posts_by_category' id=post.category.id %}" class="text-danger">category: {{post.category.name}}</a></li>
                    <p class="card-text" >{{ post.text|truncatechars:200 }}</p>
                </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}